/docker-web/.docker-sync
/docker-web/runtime/mysql/*
/docker-web/runtime/postgres/data/*
/docker-web/runtime/mongo/*
/docker-web/runtime/solr_drupal_6_x/docker-weblamp_drupal_core/data/*/
/docker-web/runtime/solr_drupal_6_x/docker-weblamp_drupal_core/data/*.*
/nbproject
/.vscode
/.history
/.docker-sync
docker-compose-web.code-workspace
