/.docker-sync
/**/.docker-sync
/**/runtime/mysql/*
/**/runtime/postgres/data/*
/**/runtime/mongo/*
/**/runtime/solr_drupal_6_x/docker-weblamp_drupal_core/data/*/
/**/runtime/solr_drupal_6_x/docker-weblamp_drupal_core/data/*.*
/nbproject
/.vscode
/.history
docker-compose-web.code-workspace
